<h1 style="text-align:center"><%= @product.name %></h1>
<img style="display:block; margin:auto;" src="<%= @product.image %>" alt="" />
<h3 style="text-align:center"> $<%= @product.price %> </h3>
<h3 style="text-align:center"> Product Description: <%= @product.description %> </h3>

<% if current_user %>
  <% if @account.favorite.include?(@product.id) %>
    <%= button_to 'Unfavorite', unfavorite_path(@product.id), :method => :patch, :class => "btn btn-primary", :id => "unfavorite_btn", remote: true%>

    <%= button_to 'Add to Favorites', favorite_path(@product.id), :method => :patch, :class => "btn btn-primary hidden-button", :id => "favorite_btn", remote: true %>
    <% else %>
    <%= button_to 'Unfavorite', unfavorite_path(@product.id), :method => :patch, :class => "btn btn-primary hidden-button", :id => "unfavorite_btn", remote: true%>

    <%= button_to 'Add to Favorites', favorite_path(@product.id), :method => :patch, :class => "btn btn-primary", :id => "favorite_btn", remote: true %>
    <% end %>
<% end %>
